<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Visual Studio C# Template to apply to a method opened from Innovator-->
  <csharp_template>Razorleaf Aras Server Method</csharp_template>
  <!--Visual Studio javaScript Template to apply to a method opened from Innovator-->
  <javascript_template>Razorleaf Aras Client Method</javascript_template>
  <!--String of text in the template indicating where the Innovator method starts-->
	<method_insert_tag>// _________________Cut below this line to paste into Innovator________________________</method_insert_tag>
  <!--String of text in the template indicating where the Innovator method ends-->
  <method_end_tag>// __________Cut Above this line and paste into Innovator Method editor __________</method_end_tag>
  <!--Development sever url where the methods will be saved to and opened from-->
	<server>http://w2008r2/Project_Name/</server>
  <!--Database name on the server-->
	<database>Project_Name</database>
  <!--Innovator login credentials to the read and write methods-->
	<login_user>admin</login_user>
	<login_password>innovator</login_password>
  <!--Staging server url where the methods can be deployed to-->
	<deployment_server>http://devserver/Project_Name/</deployment_server>
  <!--Staging server database name-->
	<deployment_database>Project_Name</deployment_database>
  <!--Staging server login credentials-->
	<deployment_login_user>admin</deployment_login_user>
	<deployment_login_password>innovator</deployment_login_password>
</configuration>